@font-face{
    font-family:'FontMain';
    src: url('../Helvetica/Helvetica.ttf')
}

body{
    font-family: 'FontMain' !important;
}

#pong{
    border: 2px solid black;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.btn-nav{
    color: #000000;
}

.btn-nav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width .3s;
}

.btn-nav:hover::after{
    width: 100%;
    transition: width .3s;
}
